.time {
  color: #def2c8;
  font-size: 2rem;
  @media (min-width: 48rem) {
    font-size: 4rem;
  }
}

.question {
  font-size: 2rem;
  display: flex;
  color: #def2c8;
  flex-direction: column;
  max-width: 100%;
}
.answer {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #def2c8;
  border-style: none;
  background-color: transparent;
  border-radius: 1rem;
  border: 2px solid #def2c8;
  &:hover {
    background-color: #def2c8;
    color: black;
    border: 2px solid black;
  }
}
.answered {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: black;
  border-style: none;
  background-color: gray;
  border-radius: 1rem;
  border: 2px solid #def2c8;
}
.score_container {
  width: 100%;
  align-self: center;
  display: flex;
}
.score {
  color: aliceblue;
  font-size: 2rem;
}
