.chat {
  color: #def2c8;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
  @media (min-width: 48rem) {
    flex-direction: row;
    align-items: center;
  }
  &__label {
    font-size: 1.5rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    max-height: 50%;
    justify-content: center;
    order: 2;
    @media (min-width: 48rem) {
      order: 1;
    }
    &_config {
      max-height: 30%;
      order: 1;
      @media (min-width: 48rem) {
        order: 2;
      }
    }
  }
  &__player_list {
    list-style: none;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__box {
    width: 20rem;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #def2c8;
    list-style: none;
    overflow-y: scroll;
    height: 10rem;
    &_label {
      font-size: 1.5rem;
      position: relative;
      left: 2rem;
      top: 1rem;
    }
  }
  &__form {
    max-width: 10rem;
    display: flex;
    flex-direction: column;
  }
}
.button {
  z-index: 2;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #def2c8;
  border-style: none;
  background-color: transparent;
  border-radius: 1rem;
  border: 2px solid #def2c8;
  &:hover {
    background-color: #def2c8;
    color: black;
    border: 2px solid black;
  }
}
.input {
  border-radius: 0.5rem;
  width: 20rem;
  background-color: transparent;
  border: 2px solid #def2c8;
  font-size: 1rem;
  color: #def2c8;
}
