@use "../../styles/partials/variables" as *;
.config {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;

  padding: 1rem;
  @media (min-width: 48rem) {
    border: 2px solid var(--border-color);
  }
  &__form {
    display: flex;
    flex-direction: column;
    & select {
      margin-top: 0.5rem;
      border-radius: 0.5rem;
      background-color: transparent;
      border: 2px solid var(--border-color);
      font-size: 1rem;
      color: var(--border-color);
    }
  }
}
.button {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--border-color);
  border-style: none;
  background-color: var(--button-color);
  border-radius: 1rem;
  border: 2px solid var(--border-color);
  &:hover {
    background-color: var(--hover-color);
    color: black;
    border: 2px solid black;
  }
}
.input {
  background-color: transparent;
  border: 2px solid var(--border-color);
  font-size: 1rem;
  color: var(--border-color);
}
