@use "../../styles/partials/variables" as *;
.scoreBoard {
  color: $border-color;
  &__list {
    list-style: none;
    font-size: 2rem;
  }
  & button {
    z-index: 2;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $border-color;
    border-style: none;
    background-color: transparent;
    border-radius: 1rem;
    border: 2px solid $border-color;
    &:hover {
      background-color: $border-color;
      color: black;
      border: 2px solid black;
    }
  }
}
