@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.container {
  position: relative;
  font-family: odibee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  align-items: center;
  background-color: var(--primary-background);
  @include tablet {
    justify-content: center;
    padding-top: 0;
  }
}
.login {
  position: relative;
  padding: 3.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 90%;
  align-items: center;
  border-radius: 0.75rem;
  background-color: var(--primary-background);
  @include tablet {
    border: 2px solid var(--border-color);
    height: 100%;
    width: 100%;
  }

  &__heading {
    position: relative;
    top: -10%;
    margin: 10% 0 0 0;
    font-size: 3rem;
    color: var(--border-color);
  }
}
.sign_in_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background);
  height: 100%;
  width: 70%;
  border-radius: 0.75rem;
  @include tablet {
    border: 2px solid var(--border-color);
  }

  &__field {
    border-style: none;
    border-radius: 0.75rem;
    width: 50%;
    height: 3rem;
    margin-bottom: 1rem;
  }
  &__submit {
    border-style: none;
    background-color: #a9b2ac;
    width: 50%;
    height: 3rem;
    border-radius: 0.75rem;
    color: var(--border-color);
    font-size: 2rem;
  }
}
.sign_up {
  margin-top: 3rem;
}
.link {
  &__text {
    color: brown;
    cursor: pointer;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 8rem;
  text-decoration: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--font-color);
  border-style: none;
  background-color: var(--button-color);
  border-radius: 1rem;
  border: 2px solid var(--border-color);
  &:hover {
    background-color: var(--hover-color);
    color: black;
    border: 2px solid black;
  }
}
.input {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--border-color);
  height: 2rem;
  margin-bottom: 2rem;
}
