@use "../../styles/partials/variables" as *;
.scoreBoard {
  color: var(--border-color);
  &__list {
    list-style: none;
    font-size: 2rem;
  }
  & button {
    z-index: 2;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--font-color);
    border-style: none;
    background-color: var(--button-color);
    border-radius: 1rem;
    border: 2px solid var(--border-color);
    &:hover {
      background-color: var(--hover-color);
      color: black;
      border: 2px solid black;
    }
  }
}
.username {
  color: var(--highlight-color);
}
